{
    "bot_prefix" : "?",
    "bot_passes" : 1,
    "bot_nickname" : "",
	"bot_admin_id" : "",
	"bot_token" : "",
	"bot_web_port" : 5000,
	"bot_web_title" : "",
	"bot_web_favicon" : "",
	"bot_logo_long" : "",
	"bot_logo_square" : "",
	"bot_icon_log" : "",
	"bot_icon_inet" : "",
	"bot_icon_about" : "",
	"bot_icon_help" : "",
	"bot_icon_ticket" : "",
	"bot_icon_heart" : "",
	"discord_server_id" : "",
	"discord_category_id_support" : "",
	"discord_channel_id_log" : "",
	"discord_channel_id_welcome" : "",
	"discord_auto_role_name" : "",
	"discord_server_support_role_id_one" : "",
	"discord_server_support_role_id_two" : "",
	"discord_bot_name" : "",
	"mysql_host" : "",
	"mysql_user" : "",
	"mysql_pass" : "",
	"mysql_database" : "",
	"info_website" : "",
	"info_copyright" : "©",
	"api_youtube_data" : ""
}